#caught-pokemons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1000px;
}
img{
    width: 100px;
}
span{
    margin:20px;
}
div{
    margin: 20px;
}
#charts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}
section{
    width: 500px;
    margin: 20px;
}